$TTL    604800
@       IN      SOA     ns.{{ bind_zone_name }}. admin.{{ bind_zone_name }}. (
                        1         ; Serial
                        604800    ; Refresh
                        86400     ; Retry
                        2419200   ; Expire
                        604800 )  ; Negative Cache TTL

@       IN      NS      ns.{{ bind_zone_name }}.
ns      IN      A       {{ bind_nameserver_ip }}
www     IN      A       {{ bind_www_ip }}
