[global]
   workgroup = {{ samba_workgroup }}
   server string = Samba Server Version %v
   netbios name = {{ inventory_hostname }}
   security = user
   map to guest = bad user
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 50

[homes]
   comment = Home Directories
   browseable = no
   writable = yes

[public]
   path = /srv/samba/public
   public = yes
   writable = yes
   comment = Public Share
   printable = no
