[global]
    workgroup = {{ samba_workgroup }}
    realm = {{ samba_realm }}
    netbios name = {{ samba_netbios_name }}
    server role = active directory domain controller
    dns forwarder = 8.8.8.8

[netlogon]
    path = /var/lib/samba/sysvol/{{ samba_realm }}/scripts
    read only = No

[sysvol]
    path = /var/lib/samba/sysvol
    read only = No
