<VirtualHost *:80>
    ServerAdmin admin@SAE5.02_domain
    ServerName home_assistant.SAE5.02_domain
    DocumentRoot /var/www/html

    <Directory /var/www/html>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    <Location "/">
        AuthName "SAE5.02 LDAP Authentication"
        AuthType Basic
        AuthBasicProvider ldap
        AuthLDAPURL "ldap://{{ ldap_server }}/{{ ldap_base_dn }}?uid?sub"
        AuthLDAPBindDN "cn=admin,{{ ldap_base_dn }}"
        AuthLDAPBindPassword "{{ ldap_admin_password }}"
        Require valid-user
    </Location>
</VirtualHost>
